.contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(#fff, 0.7);
    backdrop-filter: blur(1rem);
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    &-open {
        transform: translate(0, 0);
    }

    &-close {
        transform: translate(0, -100vh);
    }

    transition: all 0.2s;

    &-form {
        &-close {
            cursor: pointer;
            position: absolute;
            right: 2rem;
            top: 2rem;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.1);
            }

            font-size: 3rem !important;
        }

        &-submitted {
            position: relative;
            height: fit-content;
            padding: 5rem;
            border-radius: 0.4rem;
            background-image: radial-gradient(rgba(#141E30, 0.8), rgba(#243B55, 0.8));
            padding: 4rem;
            max-width: 80rem;
            width: 80%;

            h2 {
                grid-column: span 2;
                text-transform: uppercase;
                font-size: 3.5rem;
                margin: 1rem 0 2rem;
            }
            p {
                // align-self: start;
                justify-self: flex-start;
    
                grid-column: span 2;
                font-size: 1.8rem;
            }
        }

      

        position: relative;
        // height: 80vh;
        min-height: 50rem;
        // overflow: hidden;
        display: grid;
        // align-items: flex-start;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;

        h2 {
            grid-column: span 2;
            text-transform: uppercase;
            font-size: 3.5rem;
            margin: 1rem 0 2rem;

        }

        &-each {

            height: 6rem;

            label {
                top: 50%;
                font-size: 2rem;
                left: 2rem;
                transform: translate(0%, -50%);
                transition: all 0.2s;
                position: absolute;
            }

            margin-bottom: 2rem;
            position: relative;

            &:nth-child(7) {
                height: fit-content;
            }
        }

        input:focus~label {
            font-size: 1.4rem;
            top: -2rem;
            left: 0rem;

            text-transform: uppercase;
        }

        input:focus {
            background-color: #000;
            border-radius: 0;
            border-bottom: 3px solid #141E30;
        }

        textarea:focus {
            background-color: #000;
            border-radius: 0;
            border-bottom: 3px solid #141E30;
        }

        input:not(:placeholder-shown)~label {
            font-size: 1.4rem;
            top: -2rem;
            left: 0rem;
            text-transform: uppercase;
        }

        textarea:not(:placeholder-shown)~label {
            font-size: 1.4rem;
            top: -2rem;
            left: 0rem;
            text-transform: uppercase;
        }

        textarea:focus~label {
            font-size: 1.4rem;
            top: -2rem;
            left: 0rem;
            text-transform: uppercase;
        }

        input {
            transition: all 0.2s;
            width: calc(100% - 3rem);
            padding: 2rem 1.5rem;
            font-size: 2rem;
            color: #fff;
            height: 2rem;
            border: none;
            outline: none;
            background-color: #141E30;
            border-radius: .5rem;
        }

        button {
            background-color: rgba(0, 0, 0, 0.8);
            border: none;
            padding: 2rem;
            width: 20rem;
            cursor: pointer;
            border-radius: .5rem;
            color: #fff;
            text-transform: uppercase;
            font-size: 2rem;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.05);
            }
        }

        textarea {
            transition: all 0.2s;
            color: #fff;
            font-size: 1.8rem;



            padding-top: 1.1em;
            width: calc(100% - 4rem);
            padding: 2rem;
            border: none;
            height: 2.2rem;
            outline: none;
            resize: none;
            background-color: #141E30;
            border-radius: .5rem;
        }

        &-each {

            &:nth-child(7),
            &:nth-child(6) {
                grid-column: span 2;
            }

            &:nth-child(7) {
                margin: 0rem 0 3rem;
            }

        }


        border-radius: 0.4rem;
        background-image: radial-gradient(rgba(#141E30, 0.8), rgba(#243B55, 0.8));
        padding: 4rem;
        max-width: 80rem;
        width: 80%;

    }
}