#nav {
    display: none;
}

#nav:checked~.navbar {
  

  
}

.mobile-nav {
    font-size: 20px !important;
}

.navbar-outer {}

.navbar {
    width: 54rem;
    @include respond(1) {
        // width: auto !important;

        // flex-wrap: ;   @include respond(1) {
        width: 80vw;
        max-width: 30.5rem;
        // flex-wrap: ;

    }
    // width: -4rem;
    position: fixed;
    top: 4rem;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 4rem;
    background-color: black;
    display: block;
    transition: all 0.3s;

    height: 2rem;
    overflow: hidden;

    &-container {
        position: absolute;
        right: 0.95rem;
        top: 51%;


        // left: 50%;
        transform: translate(0%, -50%);
        // width: 100rem;
    }

    &-inner {
        overflow: hidden;
        grid-gap: 2rem;
        display: flex;
        width: 54rem;



        &-each {
            &-text {

                @include respond(1) {
                    display: none;
                }
            }

            &-icon {

                @include respond(1) {
                    display: inherit;
                    margin-right: 1rem;
                    font-size: 2.5rem !important;
                }

                display: none;
            }
        }

        @include respond(1) {
            width: auto;
            // flex-wrap: ;
        }

        transition: all 0.3s;
        align-items: center;
    }

    div {
        cursor: pointer;
    }

    z-index: 4;
    font-size: 1.6rem;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    display: flex;



    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
    right: 4rem;
}